<?xml version="1.0"?>
<!--  For more information on how to configure your ASP.NET application, please visit  http://go.microsoft.com/fwlink/?LinkId=169433  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6"/>
    <sessionState timeout="30"/>
    <!--<httpRuntime targetFramework="4.5" maxRequestLength="1048576" executionTimeout="1800" />-->
    <httpRuntime targetFramework="4.5"/>
    <customErrors mode="Off"/>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="en-GB" uiCulture="en-GB"/>
    <pages enableSessionState="true">
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
    <httpModules>
      <add type="QueryStringModule" name="QueryStringModule"/>
    </httpModules>
  </system.web>
  <connectionStrings>
    <add name="MastersContext" connectionString="metadata=res://*/model.MastersModel.csdl|res://*/model.MastersModel.ssdl|res://*/model.MastersModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BTSS-LAPTOP\SQL2014;initial catalog=CGSML_MIS;user id=sa;password=sa@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
	  <add key="IsStagingURL" value="true"/>

	  <!--CGSML Server DB-->
    <!--<add key="DBConnString" value="RGF0YSBTb3VyY2U9MTkyLjE2OC4xMDAuMTE7SW5pdGlhbCBDYXRhbG9nPUNHU01sX01JU1Rlc3Q7VXNlciBJRD1zYTtQYXNzd29yZD1DZ3NtTEAyODs="/>-->
    <!--<add key="DBConnString" value="Data Source=.;Initial Catalog=ERP-Sanand;User ID=sa;Password=sa@123;" />-->
    <!--<add key="DBConnString" value="RGF0YSBTb3VyY2U9Q0hJTlRBTi1MQVBUT1A7SW5pdGlhbCBDYXRhbG9nPUNHU01sX01JUztVc2VyIElEPXNhO1Bhc3N3b3JkPXNhQDEyMw=="/>-->
    <!--chintan-->
    <!--<add key="DBConnString" value="RGF0YSBTb3VyY2U9MTkyLjE2OC4xMDAuMTE7SW5pdGlhbCBDYXRhbG9nPUNHU01MX01JUztVc2VyIElEPXNhO1Bhc3N3b3JkPUNnc21MQDI4"/>-->
    <!--<add key="DBConnString" value="RGF0YSBTb3VyY2U9Q2hpbnRhbi1MYXB0b3A7SW5pdGlhbCBDYXRhbG9nPUNHU01MMDgxMTIwMTY7VXNlciBJRD1zYTtQYXNzd29yZD1zYUAxMjM=" />-->
    <!--<add key="DBConnString" value="RGF0YSBTb3VyY2U9Q2hpbnRhbi1MYXB0b3A7SW5pdGlhbCBDYXRhbG9nPUNHU01MX01JUztVc2VyIElEPXNhO1Bhc3N3b3JkPXNhQDEyMw=="/>-->
    <!--<add key="DBConnString" value="RGF0YSBTb3VyY2U9Q2hpbnRhbi1MYXB0b3A7SW5pdGlhbCBDYXRhbG9nPUNHU01MMTcwNDIwMTc7VXNlciBJRD1zYTtQYXNzd29yZD1zYUAxMjM7QXN5bmNocm9ub3VzIFByb2Nlc3Npbmc9dHJ1ZTs="/>-->
    <!--<add key="DBConnString" value="RGF0YSBTb3VyY2U9QlRTUzAyLVBDXFNRTEVYUFJFU1M7SW5pdGlhbCBDYXRhbG9nPVRyaWRlbnQ7VXNlciBJRD1zYTtQYXNzd29yZD1zYUAxMjM=" />-->
    <!--<add key="DBConnString" value="RGF0YSBTb3VyY2U9R1NTUEwtMDNcU1FMRVhQUkVTUztJbml0aWFsIENhdGFsb2c9VFJJREVOVDtVc2VyIElEPXNhO1Bhc3N3b3JkPXNhQDEyMw==" />-->
    <!--<add key="DBConnString" value="RGF0YSBTb3VyY2U9R1NTUEwtMDU7SW5pdGlhbCBDYXRhbG9nPVREUkxWRDtVc2VyIElEPXNhO1Bhc3N3b3JkPXNhQDEyMw==" />-->
    <add key="DBConnString" value="RGF0YSBTb3VyY2U9R1NTUEwtMDdcU1FMRVhQUkVTUztJbml0aWFsIENhdGFsb2c9VERSTFZEO0ludGVncmF0ZWQgU2VjdXJpdHk9VHJ1ZQ=="/>
    <!--<add key="DBConnString" value="RGF0YSBTb3VyY2U9UkxWRC1FLUNIQUxMQU5cU1FMRVhQUkVTUztJbml0aWFsIENhdGFsb2c9VHJpZGVudDtVc2VyIElEPXNhO1Bhc3N3b3JkPXNhQDEyMw==" />-->
    <!--<add key="DBConnString" value="RGF0YSBTb3VyY2U9R0FTSE9VU0U7SW5pdGlhbCBDYXRhbG9nPUNHU01MMjkwNTIwMTc7VXNlciBJRD1zYTtQYXNzd29yZD1DZ3NtTEAyOA=="/>-->
    <!--<add key="DBConnString" value="RGF0YSBTb3VyY2U9R0FTSE9VU0U7SW5pdGlhbCBDYXRhbG9nPUNHU01MMjkwNTIwMTc7VXNlciBJRD1zYTtQYXNzd29yZD1DZ3NtTEAyOA=="/>-->
    <!--<add key="LocalPathToSavePDF" value="E:/chintan1" />-->
    <!--MARVIN Connection String-->
    <!--<add key="DBConnString" value="RGF0YSBTb3VyY2U9TUFSVklOO0luaXRpYWwgQ2F0YWxvZz1DR1NNTF9NSVM7VXNlciBJRD1zYTtQYXNzd29yZD1zYUAxMjM="/>-->
    <!--<add key="LocalPathPDF" value="C:\Drive\BTSS\CGSML_GASBILL_PDF\"/>-->
    <!--<add key="DBConnString" value="RGF0YSBTb3VyY2U9Q0hJTlRBTi1MQVBUT1A7SW5pdGlhbCBDYXRhbG9nPUNHU01MMzAxMTIwMTY7VXNlciBJRD1zYTtQYXNzd29yZD1zYUAxMjM="/>-->
    <!--<add key="DBConnString" value="RGF0YSBTb3VyY2U9MTkyLjE2OC4xMDAuMTA7SW5pdGlhbCBDYXRhbG9nPWNnc207VXNlciBJRD1zYTtQYXNzd29yZD1DZ3NtTEAyOA=="/>-->
    <!--<add key="DBConnString" value="RGF0YSBTb3VyY2U9MTkyLjE2OC4xMDAuMTE7SW5pdGlhbCBDYXRhbG9nPUNHU01sX01JUztVc2VyIElEPXNhO1Bhc3N3b3JkPUNnc21MQDI4"/>-->
    <!--<add key="DBConnString" value="RGF0YSBTb3VyY2U9Q0hJTlRBTi1MQVBUT1A7SW5pdGlhbCBDYXRhbG9nPUNHU01MX01JUzA1MDkyMDE2O1VzZXIgSUQ9c2E7UGFzc3dvcmQ9c2FAMTIz" />-->
    <!--Chintan-Laptop db Nm: CGSML_Test25082016-->
    <!--<add key="DBConnString" value="RGF0YSBTb3VyY2U9Q2hpbnRhbi1MYXB0b3A7SW5pdGlhbCBDYXRhbG9nPUNHU01sX1Rlc3QyNTA4MjAxNjtVc2VyIElEPXNhO1Bhc3N3b3JkPXNhQDEyMw==" />-->
    <!--<add key="DBConnString" value="RGF0YSBTb3VyY2U9Q2hpbnRhbi1MYXB0b3A7SW5pdGlhbCBDYXRhbG9nPUNHU01MX01JUzA1MDkyMDE2O1VzZXIgSUQ9c2E7UGFzc3dvcmQ9c2FAMTIz" />-->
    <!--BTSS07-PC-->
    <!--<add key="DBConnString" value="RGF0YSBTb3VyY2U9QlRTUzA3LVBDXFNRTFNFUlZFUjIwMTQ7SW5pdGlhbCBDYXRhbG9nPUNHU01sX01JUztVc2VyIElEPXNhO1Bhc3N3b3JkPXNhQDEyMw==" />-->
    <!--Vishal-->
    <!--<add key="DBConnString" value="RGF0YSBTb3VyY2U9Q2hpbnRhbi1MYXB0b3A7SW5pdGlhbCBDYXRhbG9nPUNHU01sX01JUztVc2VyIElEPXNhO1Bhc3N3b3JkPXNhQDEyMw=="/>-->
    <!--<add key="DBConnString" value="RGF0YSBTb3VyY2U9MTkyLjE2OC4xMDAuMTE7SW5pdGlhbCBDYXRhbG9nPWNnc21sdGVzdDtVc2VyIElEPXNhO1Bhc3N3b3JkPUNnc21MQDI4"/>-->
    <!--<add key="DBConnString" value="Data Source=BTSS-SERVER ;Initial Catalog=ERP-Sanand;User ID=sa;Password=sa@123;" />-->
  </appSettings>
  <system.webServer>
    <!--<handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>-->
    <validation validateIntegratedModeConfiguration="false"/>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <log4net>
    <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="1"/>
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      <connectionString value="Data Source=BTSS-LAPTOP\SQL2014;Initial Catalog=CGSML_MIS;User ID=sa;Password=***********;MultipleActiveResultSets=True;Application Name=EntityFramework"/>
      <commandText value="INSERT INTO Log ([Date],[Thread],[Level],[Logger],[Message],[Exception]) VALUES (@log_date, @thread, @log_level, @logger, @message, @exception)"/>
      <parameter>
        <parameterName value="@log_date"/>
        <dbType value="DateTime"/>
        <layout type="log4net.Layout.RawTimeStampLayout"/>
      </parameter>
      <parameter>
        <parameterName value="@thread"/>
        <dbType value="String"/>
        <size value="255"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_level"/>
        <dbType value="String"/>
        <size value="50"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger"/>
        <dbType value="String"/>
        <size value="255"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message"/>
        <dbType value="String"/>
        <size value="4000"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception"/>
        <dbType value="String"/>
        <size value="2000"/>
        <layout type="log4net.Layout.ExceptionLayout"/>
      </parameter>
    </appender>
    <root>
      <level value="All"/>
      <appender-ref ref="AdoNetAppender"/>
    </root>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ITMSeChallanImplSoapBinding">
          <security mode="Transport" />
        </binding>
        <binding name="ITMSeChallanImplSoapBinding1" />
        <binding name="ITMSeChallanImplSoapBinding2" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://echallan.tspolice.gov.in/ITMSeChallanGeneration/services/ITMSeChallanImpl"
        binding="basicHttpBinding" bindingConfiguration="ITMSeChallanImplSoapBinding"
        contract="ITMSeChallanImplService.ITMSeChallanImpl" name="ITMSeChallanImpl" />
      <endpoint address="http://125.16.1.70:8080/ITMSeChallanGeneration/services/ITMSeChallanImpl"
        binding="basicHttpBinding" bindingConfiguration="ITMSeChallanImplSoapBinding2"
        contract="Staging.ITMSeChallanImpl" name="ITMSeChallanImpl1" />
    </client>
  </system.serviceModel>
</configuration>